<div id="mayormenor_container">
    <h1 id="mayormenor_title">Mayor o menor</h1>

    <div id="mayormenor_carta" *ngIf="cartaActual !== undefined">
        {{ cartaActual }}
    </div>

    <div id="mayormenor_puntos">
        Puntos: {{ puntos }}
    </div>
    
    <div id="mayormenor_cartas_restantes">
        Cartas restantes en el mazo: {{ cartasRestantes }}
    </div>
    
    <div id="mayormenor_button_container">
        <button pButton pRipple class="p-button-success" (click)="verificarAdivinanza(true)"
            [disabled]="juegoTerminado || cartaActual === undefined">Mayor</button>
        <button pButton pRipple class="p-button-danger" (click)="verificarAdivinanza(false)"
            [disabled]="juegoTerminado || cartaActual === undefined">Menor</button>
    </div>
    
    <div id="mayormenor_reiniciar_container">
        <button pButton pRipple class="p-button-primary" (click)="reiniciarJuego()" *ngIf="juegoTerminado">Volver a jugar</button>
    </div>
</div>