<div id="quien_soy_container">
    <div id="quien_soy_card">
        <div id="img_alumno_container">
            <img id="img_alumno" [src]="url_foto" alt="Imagen del alumno">
        </div>
        <div id="datos_personales_container">
            <div name="titulo">Datos Personales</div>

            <div id="nombre_alumno_container" name="alumno_dato">
                <label for="nombre_alumno">Nombre:</label>
                <div id="nombre_alumno">{{nombre}}</div>
            </div>
        </div>
        <div id="descripcion_container">
            <div name="titulo">Descripción del juego</div>

            <div name="texto">{{descripcion_juego}}</div>
        </div>
    </div>
</div>