<div id="quien_soy_container">
    <div id="quien_soy_card">
        <div id="img_alumno_container">
            <img id="img_alumno" [src]="url_foto" alt="Imagen del alumno">
        </div>
        <div id="datos_personales_container">
            <div name="titulo">Datos Personales</div>

            <div id="nombre_alumno_container" name="alumno_dato">
                <label for="nombre_alumno">Nombre:</label>
                <div id="nombre_alumno">{{nombre}}</div>
            </div>
        </div>
        <div id="descripcion_container">
            <div name="titulo">Descripción del juego</div>

            <div name="texto">
                <p>"Color Race" es un juego de habilidad y percepción en el que los jugadores se enfrentan a un desafío
                    visual emocionante.</p>

                <p>En cada ronda, se presenta en pantalla un nombre de color escrito en un color de fondo distinto. La
                    tarea del jugador es determinar si el nombre del color coincide con el color del fondo. Tienes solo
                    10 segundos para tomar una decisión mediante los dos botones "Si" y "No"</p>

                <p>El juego seguirá generando combinaciones de colores de forma aleatoria, desafiando tu capacidad de
                    reacción y percepción de colores.</p>

                <p>Cada respuesta correcta te otorgará puntos, mientras que las respuestas incorrectas te restarán
                    puntos. El objetivo es acumular la mayor cantidad de puntos posible antes de que se agote el tiempo
                    en cada ronda.</p>

                <p>¿Tienes lo que se necesita para adivinar el color en "Color Race"? ¡Demuestra tus habilidades y
                    desafía a tus amigos para ver quién tiene la mejor percepción de colores!</p>
            </div>
        </div>
    </div>
</div>