<div id="ahorcado_container">
    <h1>Ahorcado</h1>
    
    <div id="palabra">
        {{ palabra_oculta }}
    </div>
    
    <div id="intentos">
        <p>Intentos restantes: {{ intentos_restantes }}</p>
    </div>
    
    <div id="teclado_container" *ngIf="!finalizado">
        <div name="letra_container" *ngFor="let letra of letras">
            <button pButton class="p-button-secondary" (click)="ElegirLetra(letra)">{{ letra }}</button>
        </div>
    </div>

    <div *ngIf="finalizado">
        <button pButton class="p-button-primary" (click)="ResetJuego()">Volver a Jugar</button>
    </div>
</div>