<div id="colorrace_container">
    <h1 id="colorrace_title">Color Race</h1>

    <div id="colorrace_texto" [style.color]="colores[colorFondo].fondo" *ngIf="colorNombre !== -1 && colorFondo !== -1">
        {{ colores[colorNombre].nombre }}
    </div>

    <div id="colorrace_opciones_container" *ngIf="!juegoFinalizado">
        <button pButton pRipple class="p-button-success" (click)="verificarRespuesta(true)">Sí</button>
        <button pButton pRipple class="p-button-danger" (click)="verificarRespuesta(false)">No</button>
    </div>

    <div id="colorrace_cronometro" *ngIf="tiempoRestante > 0">Tiempo restante: {{ tiempoRestante }} segundos</div>

    <div id="colorrace_puntaje">
        Puntaje: {{ puntaje }}
    </div>

    <div id="colorrace_reiniciar">
        <button pButton pRipple class="p-button-primary" *ngIf="juegoFinalizado"
            (click)="reiniciarJuego()">Iniciar</button>
    </div>
</div>